.Post {
    background: #F3E0BE;
    width: 300px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
      background-color: #C0DDF5;
    box-sizing: border-box;
    cursor: pointer;
}
#root > div > div > section.Posts > article > h1 {
    font-size: 25px;
}
.Post:hover,
.Post:active {
      background-color: rgb(238, 238, 238);
}

.Auteur {
    margin: 16px 0;
    color: rgb(65, 63, 63);
}
