.PostComplet {
    background: rgb(194, 194, 194);
    width: 40%;
    min-width: 400px;
    height: auto;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;

    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*display: none;*/
}

.btnPost {
    position: absolute;
    right: 20px;
    top: 0px;
}


.PostComplet h1 {
    margin-top: 50px;
}
