body {
    margin: 0;
    margin-top: 85px!important;
    padding: 0;
    background: #F3E0BE;
    font-family: sans-serif;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    text-decoration: none!important;
}

.p-8 {
    padding: 2rem;
}
.bg-gray-800 {
    --tw-bg-opacity: 1;
    /* background-color: rgb(31 41 55 / var(--tw-bg-opacity)); */
    background-color: #343a40;
}
.z-0 {
    z-index: 0;
}
.relative {
    position: relative;
}
.flex {
    display: flex;
}
.flex-grow {
    flex-grow: 1;
}
.flex-row {
    flex-direction: row;
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}
.text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
}

.font-bold {
    font-weight: 700;
}
.font-medium {
    font-weight: 500;
}
.font-semibold {
    font-weight: 600;
}	
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.text-sm-special {
    font-size: .85rem;
}
.text-special {
    font-size: .96rem;
}
.text-base {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}
.mt-0 {
    margin-top: 0!important;
}
.mt-4 {
    margin-top: 1rem!important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.mb-6 {
    margin-bottom: 1.5rem;
}
.mb-8 {
    margin-bottom: 2rem;
}
.py-2 {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}
.rounded-md {
    border-radius: 0.375rem;
}
.special-p {
    margin-bottom: 0;
}
.special-hr {
    border-bottom: solid rgb(75 85 99) 1px;
}
footer {
    margin-top: 6rem;
}
ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer a {
    color: inherit;
    text-decoration: inherit;
}
.border-b-gray-600 {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(75 85 99 / var(--tw-border-opacity));
}
.border-b {
    border-bottom-width: 1px;
}